.quantityBox {
  display: flex;
  align-self: center;
  background-color: white;
  height: 47px;
  width: 120px;
  border-radius: 8px;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.increase,
.decrease {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  background-color: white;
  /* border: 1px solid transparent; */
  font-size: 2rem;
  background-color: rgb(201, 201, 201);
  border-radius: 0px;
  /* border: 1px solid black; */
  transition: 0.3s ease;
}

.increase {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.decrease {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.increase:hover,
.decrease:hover {
  background-color: rgb(168, 168, 168);
}

.quantity {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  border: 1px solid white;
  width: 100%;
  background-color: white;
}

.quantity:focus {
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
.quantity::-webkit-outer-spin-button,
.quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 600px) {
  .quantityBox {
    display: flex;
    align-self: center;
    background-color: white;
    height: 37px;
    width: 120px;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  }
}
