.cartSectionTitle {
  font-size: 2.6rem;
  font-weight: 700;
  border-bottom: 1px solid gray;
  padding-block: 20px;
}

.cartWrapper {
  max-width: 800px;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .cartContent {
    flex-direction: column;
  }
}
