.navbar {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.navbar a {
  color: gray;
  text-decoration: none;
  margin-inline: 10px;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
}

.navbar a:hover {
  color: var(--primary-color);
}

/* .navbar a:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: var(--primary-color);
} */

@media screen and (max-width: 769px) {
  .navbar {
    flex-direction: column;
  }
  .categories {
    flex-direction: column;
    display: flex;
  }
}
