.navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-inline: 10px;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

.active {
  color: #fffbeb;
}

.header {
  background-color: #251749;
  padding: 20px;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.cart span {
  font-size: 1.5rem;
}
