.productItem {
  display: flex;
  max-width: 800px;
  margin: auto;
  margin-top: 50px;
  gap: 20px;
  /* height: 400px; */
}

.imageBox {
  width: 50%;
  align-self: center;
}

.imageBox img {
  width: 80%;
  height: auto;
}

.productContent {
  width: 50%;
  border: 1px solid black;
  background-color: gray;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2.4rem;
  font-weight: 700;
}

.rating {
  text-align: left;
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.rate {
  background-color: orange;
  border-radius: 4px;
  padding: 2px;
  font-weight: 700;
  margin-right: 10px;
}

.reviews {
  margin-left: auto;
  color: gainsboro;
}

.description {
  font-size: 1.6rem;
  text-align: justify;
}

.payBox {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.price {
  font-size: 2.6rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.addToBagButton {
  margin-top: 20px;
}
